In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('metacritic_reviews.csv', index_col=0)
df2 = pd.read_csv('game_sales.csv', index_col=0)
df3 = pd.read_csv('gamespot_reviews.csv', index_col=0)
df6 = pd.read_csv('box_office_video_game_movies.csv', index_col = 0)

In [78]:
df2 = df2.drop(columns = 'Genre')

In [80]:
df1['Game'] = [x.lower() for x in df1['Game']]

In [3]:
metacritic_w_sales = pd.read_csv('metacritic_w_sales.csv', index_col = 0)

In [69]:
import ast
df4['genres'] = df4['genres'].apply(lambda x: ast.literal_eval(x))

# genre_list = []
# for x in df1.genres:
#     genre_list.append(x[0].split(','))
    
# df1['genres'] = genre_list

In [84]:
metacritic_w_sales = pd.merge(df1, df2, on = 'Game')

In [85]:
metacritic_w_sales.shape

(345, 16)

In [86]:
metacritic_w_sales = metacritic_w_sales.drop(columns = 'Publisher_x')
metacritic_w_sales = metacritic_w_sales.rename(columns = {'Publisher_y': 'Publisher'})

In [87]:
metacritic_w_sales.head(5)

,Game,metacritic_score,metacritic_review_count,user_score,user_review_count,content_rating,genres,release_date,Year,Publisher,North America,Europe,Japan,Rest of World,Global
0,red dead redemption 2,97,33,7.7,2413.0,M,"[Action Adventure, Open-World]","Oct 26, 2018",2018.0,Rockstar Games,3.76,1.47,0.00,0.54,5.77
1,metal gear solid v: the phantom pain,95,10,7.4,1111.0,M,"[Modern, Modern, Action Adventure, Open-World]","Sep 1, 2015",2015.0,Konami Digital Entertainment,0.49,0.25,0.02,0.07,0.83
2,inside,93,87,8.3,629.0,M,"[Action, Platformer, 2D]","Jun 29, 2016",NaN,NaN,0.00,0.00,0.00,0.00,0.00
3,the witcher 3: wild hunt,91,13,9.2,4585.0,M,"[Action RPG, Role-Playing, Action RPG]","May 19, 2015",2015.0,Namco Bandai Games,0.97,0.61,0.01,0.15,1.74
4,rayman legends,91,6,7.9,243.0,E10+,"[Platformer, 2D, Action, Platformer, 2D]","Feb 18, 2014",2014.0,Ubisoft,0.13,0.22,0.00,0.03,0.38

In [88]:
df3 = df3.rename(columns = {'Title': 'Game'})

In [89]:
gamespot_w_sales = pd.merge(df3, df2, on = 'Game')

In [91]:
# gamespot_w_sales.sort_values("Global", ascending=False)
gamespot_w_sales.sort_values("Global", ascending=False)

,score,Game,Year,Publisher,North America,Europe,Japan,Rest of World,Global
30,9.0,grand theft auto v,2014.0,Rockstar Games,4.70,3.25,0.01,0.76,8.72
141,7.0,call of duty: black ops 3,2015.0,Activision,4.63,2.04,0.02,0.68,7.37
234,9.0,call of duty: wwii,2017.0,Activision,3.75,1.91,0.00,0.57,6.23
11,8.5,minecraft,2014.0,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
80,8.0,call of duty: advanced warfare,2014.0,Activision,3.25,1.49,0.01,0.48,5.22
...,...,...,...,...,...,...,...,...,...
62,7.0,shovel knight,2015.0,Yacht Club Games,0.00,0.00,0.00,0.00,0.00
56,8.0,super time force,NaN,NaN,0.00,0.00,0.00,0.00,0.00
55,5.0,the amazing spider-man 2,2014.0,Activision,0.00,0.00,0.00,0.00,0.00
48,6.0,max: the curse of brotherhood,NaN,NaN,0.00,0.00,0.00,0.00,0.00
0,5.8,industry giant ii,2017.0,UIG Entertainment,0.00,0.00,0.00,0.00,0.00

In [54]:
df1 = pd.read_csv('metacritic_reviews.csv', index_col=0)
df2 = pd.read_csv('game_sales.csv', index_col=0)
df3 = pd.read_csv('gamespot_reviews.csv', index_col=0)
df4 = pd.read_csv('metacritic_w_sales.csv', index_col = 0)
df5 = pd.read_csv('gamespot_w_sales.csv', index_col = 0)

In [44]:
df4['Game'] = [x.title() for x in df4['Game']]

In [45]:
df4 = df4.drop(columns = ['Rest of World', 'Japan', 'Europe', 'North America', 'Year'])

KeyError: "['Rest of World' 'Japan' 'Europe' 'North America' 'Year'] not found in axis"

In [46]:
#df4.drop(columns = 'genres')

In [47]:
df4['release_date'] = [x[-4:] for x in df4['release_date']]

KeyError: 'release_date'

In [33]:
df4 = df4.rename(columns = {'release_date': 'release_year'})

In [55]:
df4 = df4.rename(columns = {'Global': 'global_unit_sales'})

In [48]:
df5.Game = [x.title() for x in df5['Game']]

In [49]:
df5

,score,Game,Year,Publisher,North America,Europe,Japan,Rest of World,Global
0,5.8,Industry Giant Ii,2017.0,UIG Entertainment,0.00,0.00,0.0,0.00,0.00
1,8.4,Dead Rising,2016.0,Capcom,0.03,0.00,0.0,0.00,0.04
2,9.0,Okami,2017.0,Capcom,0.05,0.00,0.0,0.01,0.06
3,5.0,Bladestorm: The Hundred Years' War,2015.0,BioWare,0.00,0.00,0.0,0.00,0.00
4,8.0,Lock'S Quest,2017.0,THQ Nordic,0.01,0.00,0.0,0.00,0.02
...,...,...,...,...,...,...,...,...,...
237,7.0,Lego Marvel Super Heroes 2,2017.0,Warner Bros. Interactive Entertainment,0.32,0.20,0.0,0.05,0.57
238,3.0,Hello Neighbor,2017.0,Gearbox Software,0.27,0.11,0.0,0.04,0.42
239,8.0,Playerunknown'S Battlegrounds,2017.0,Microsoft Studios,1.29,0.69,0.0,0.20,2.17
240,8.0,Child Of Light,NaN,NaN,0.00,0.00,0.0,0.00,0.00
241,4.0,We Happy Few,2018.0,Gearbox Software,0.07,0.01,0.0,0.01,0.09

In [4]:
import ast
metacritic_w_sales['genres'] = metacritic_w_sales['genres'].apply(lambda x: ast.literal_eval(x))

metacritic_w_sales['Action/Adventure'] = [1 if 'Action' in (' '.join(x)) else 0 for x in metacritic_w_sales['genres']]
metacritic_w_sales['RPG'] = [1 if 'Role-Playing' in (' '.join(x)) else 0 for x in metacritic_w_sales['genres']]
metacritic_w_sales['Open-World'] = [1 if 'Open-World' in (' '.join(x)) else 0 for x in metacritic_w_sales['genres']]
metacritic_w_sales['Shooter'] = [1 if 'Shooter' in (' '.join(x)) else 0 for x in metacritic_w_sales['genres']]
metacritic_w_sales['Racing'] = [1 if 'Racing' in (' '.join(x)) else 0 for x in metacritic_w_sales['genres']]
metacritic_w_sales['Sci-fi'] = [1 if 'Sci-Fi' in (' '.join(x)) else 0 for x in metacritic_w_sales['genres']]

# action/adventure = 250
# RPG. = 36
# Open-World = 24
# Shooter = 61
# Racing = 29

# not including sports as that is already based off of a real life event and it does not make
# sense to adapt that into any kind of movie


# top 5 genres of top 20 games 

# action/adventure 
# shooter 
# rpg
# open world
# Racing

In [ ]:
top_20_games_by_review_count = metacritic_w_sales.sort_values('user_review_count', ascending = False).head(20)

In [8]:
df1.to_csv('metacritic_reviews.csv')
df2.to_csv('game_sales.csv')
df3.to_csv('gamespot_reviews.csv')
metacritic_w_sales.to_csv('metacritic_w_sales.csv')
df5.to_csv('gamespot_w_sales.csv')
df6.to_csv('box_office_video_game_movies.csv')

In [60]:
df6.head()

,Title,Release date,Worldwide box office,Distributor,Original game publisher
0,Super Mario Bros.,"May 28, 1993",20915465,Buena Vista Pictures Distribution,Nintendo
1,Double Dragon,"November 4, 1994",2341309,Gramercy Pictures,Technōs Japan
2,Street Fighter,"December 23, 1994",99423521,Universal Pictures,Capcom
3,Mortal Kombat,"August 18, 1995",122195920,New Line Cinema,WB Games
4,Mortal Kombat: Annihilation,"November 21, 1997",51376861,New Line Cinema,WB Games

In [61]:
df6['Release date'] = [x[-4:] for x in df6['Release date']]

In [7]:
df5 = pd.read_csv('gamespot_w_sales.csv', index_col = 0)

In [74]:
df5 = df5.rename(columns = {'Global': 'global_unit_sales'})