In [2]:
import pandas as pd
import numpy as np

In [14]:
new_url = 'https://www.vgchartz.com/platform/68/xbox-one/'

df = pd.read_html(new_url)

In [15]:
df = df[0]

In [20]:
df = df.drop(df.index[613:])
df.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1.,Grand Theft Auto V,2014,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2.,Call of Duty: Black Ops 3,2015,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3.,Call of Duty: WWII,2017,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4.,Red Dead Redemption 2,2018,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5.,MineCraft,2014,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

numpy.float64

,North America,Europe,Japan,Rest of World,Global
Publisher,,,,,
Rockstar Games,2.866667,1.603333,0.003333,0.440000,4.913333
Blizzard Entertainment,1.125000,0.580000,0.000000,0.170000,1.880000
2K Sports,1.165714,0.170000,0.000000,0.150000,1.488571
Microsoft Studios,0.825484,0.477097,0.007097,0.128710,1.439032
Electronic Arts,0.788636,0.464545,0.004091,0.122727,1.380455
...,...,...,...,...,...
Ice-pick Lodge,0.000000,0.000000,0.000000,0.000000,0.000000
Experience Inc.,0.000000,0.000000,0.000000,0.000000,0.000000
BioWare,0.000000,0.000000,0.000000,0.000000,0.000000
Bandai Namco Entertainment,0.000000,0.000000,0.000000,0.000000,0.000000
Yacht Club Games,0.000000,0.000000,0.000000,0.000000,0.000000

In [28]:
df.to_csv('Game_sales.csv')